.status-td{
    width: 70px;
    text-align: center;
}

.status-dot {
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    gap: 3px;
}

.status-dot--active {
    color: #1e8e3e;
}

.status-dot--inactive {
    color: #d93025;
}


