.img-td {
    vertical-align: middle;
    text-align: center;
}

.img-box {
    width: 70px; 
    height: 50px;
    margin: auto; 
    border-radius: 6px;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
    background: #f8f9fa; 
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    display: block;
}
