/* ===== HEADER ===== */
.main-header {
    background-color: #000;
    color: #fff;
    border-bottom: 2px solid #e30613;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.header-logo a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.logo-red {
    color: #e30613;
    font-size: 28px;
    font-weight: 800;
    line-height: 1;
}

.logo-white {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
}

/* Search */
.header-search {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
    margin: 0 30px;
}

.search-category {
    padding: 9.9px;
    padding-bottom: 11px;
    border: none;
    outline: none;
    background: #f5f5f5;
    font-size: 14px;
}

.header-search input {
    flex: 1;
    padding: 9.9px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-btn {
    padding: 8.9px 15px;
    background-color: #e30613;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Actions */
.header-actions {
    display: flex;
    gap: 28px;
}

.header-item {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

    .header-item span {
        display: block;
        margin-top: 4px;
        font-size: 13px;
    }

    .header-item:hover {
        color: #e30613;
    }

.logo_login {
    width: 24px;
    height: 24px;
    background-color: white;
}
