@using Ecommerce_Web.Models.ViewModels
@model ProductVM

<h2 class="mb-4">Create Product</h2>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="card shadow-sm">
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId"
                        class="form-select"
                        asp-items="Model.Categories">
                    <option value="">-- Select category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CreateAt" class="form-label"></label>
                <input asp-for="CreateAt" type="datetime-local" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>

            <div class="mb-3 row">
                <label class="mb-2">Image</label>

                <div class="img-preview-wrapper mb-2" style="display:inline-block;">
                    @if (!string.IsNullOrWhiteSpace(Model.ImageUrl))
                    {
                        <img id="imgThumb" src="@Model.ImageUrl" class="img-thumb" alt="current image" />
                    }
                    else
                    {
                        <img id="imgThumb" src="" class="img-thumb d-none" alt="current image" />
                    }
                </div>

                <input type="file" name="formFile" id="formFile" class="form-control mt-2" />
            </div>
           
            <div class="form-check mb-4">
                <input asp-for="IsActive" class="form-check-input" />
                <label asp-for="IsActive" class="form-check-label"></label>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary">
                    Create
                </button>

                <a asp-controller="Product"
                   asp-action="Index"
                   class="btn btn-outline-secondary">
                    Back to list
                </a>

            </div>
        </div>
    </div>
</form>

<!--ZoomOverLay outside-->
<div id="imageZoomOverlay" class="image-zoom-overlay" aria-hidden="true">
    <div class="image-zoom-content" role="dialog" aria-modal="true">
        <button type="button" id="imageZoomClose" class="image-zoom-close" aria-label="Close">✕</button>
        <img id="imageZoomImg" src="" alt="Zoom image" />
    </div>
</div>

@section styles{
     <link rel="stylesheet" href="~/css/product-index.css" asp-append-version="true" />
}

