@using Ecommerce_Web.Models.ViewModels
@model ProductVM

<h2>Edit product</h2>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="mb-3 row">
          <label asp-for="Name"></label>
          <input asp-for="Name" />
          <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 row">
            <label asp-for="Price"></label>
            <input asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-3 row">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId"
                    class="form-select"
                     asp-items="Model.Categories">
            <option value="">--Select Category--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3 row">
            <label asp-for="CreateAt"></label>
            <input asp-for="CreateAt" />
            <span asp-validation-for="CreateAt" class="text-danger"></span>
        </div>

        <div class="mb-4 d-flex align-items-center gap-1">
            <label asp-for="IsActive" class="form-check-label mb-0"></label>
            <input asp-for="IsActive" class="form-check-input" />
        </div>

        <button type="submit" asp-controller="Product" asp-action="Edit" class="btn btn-primary">Edit</button>
        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary">Back to list</a>

        </div>
</form>