@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if(!string.IsNullOrEmpty(successMessage))
{
    <div class="notification success">
        <span class="message">@successMessage</span>
        <button class="close-btn" onclick="closeNotification(this)">x</button>
    </div>
}


@if(!string.IsNullOrEmpty(errorMessage))
{
   <div class="notification error">
   <span class="message">@errorMessage</span>
   <button class="close-btn" onclick="closeNotification(this)">x</button>
   </div>
}
