
<div id="indexSuperCart" class="super-cart-container">
    <div class="cart-header"></div>
    <div class="container tabs-cart-type mt-3">
        <div class="container block-info mt-3">
            <div class="nothing-in-cart">
                <img src="~/img/cart_empty.png" alt="Giỏ hàng rỗng" />
                <span class="my-3">
                    <br />
                    <strong>Giỏ hàng của bạn đang trống.</strong>
                    <br />
                    Hãy chọn thêm sản phẩm để mua sắm nhé
                </span>
                <div class="mt-3">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success">MUA HÀNG NGAY</a>
                </div>
            </div>
        </div>
    </div>
    <div id="stickyBottomBar">
        <a asp-area="" asp-controller="Home" asp-action="Index"></a>
    </div>
</div>