@model IEnumerable<object>

@{
    ViewData["Title"] = "Giỏ hàng";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Components/Layout/Cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Components/Layout/emptyCart.css" asp-append-version="true" />
}

<div class="cart-header" >
    <div class="page-title">Giỏ hàng của bạn</div>
</div>

@if (Model == null || !Model.Any())
{
    <partial name="_EmptyCart" />
}
else
{
}


